/*********FORMULARIO******/
.principal{
    width: 80%;
    margin: 20px auto;
}
section h2{
    padding: 15px 0;
}
section h3{
    font-weight: 300;
}
.form {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 35px;
    font-family: 'Alata', sans-serif;

}
.form-titulo {
    margin-bottom: 10px;
}
.lista {
    display: flex;
    margin: auto;
}
.input{
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #9797ae;
    border-radius: 5px;
}
/********************ICONOS********** 
WebSymbols incluidos en style.css*/
.icono-remover,
.icono-añadir {
    display: block;
    color: var(--color-1);
    cursor: pointer;
    font-size: 30px;
}
.icono-remover{
    margin-top: 10px;
    transition: 0.4s;
}
.icono-añadir {
    margin-right: 10px;
    transition: 0.4s;
}
.icono-remover:hover,
.icono-añadir:hover {
    color: var(--color-hv);
}
.boton-borrar{
    display: block;
    text-decoration: none;
    float: right;
    position: relative;
}
.form-agregar {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px;
}

.form-agregar-p,
.icono-añadir {
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.precio2 p {
    background-color: rgb(14, 151, 21);
    color: #ccc;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    width: 70px;
}

.boton-inscribir {
    position: relative;
    left: 90px;
    bottom: 38px;
    width: 120px;
    height: 35px;
    font-family: alata;
    text-align: center;
    color: #ffffff;
    background-color: var(--color-1);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.boton-inscribir:hover {
    background-color: var(--color-hv);
}
/*FIN FORMULARIO*/

@media screen and (min-width:64em){


}
@media screen and (min-width:60em){


}
@media screen and (max-width:1024px){

}
@media screen and (max-width:413px){
    .lista{
        display: block;
    }

}
@media screen and (max-width:912px){

}